@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(75, 75, 75);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

#containerPrincipal {
  width: 80vw;
  background-color: #1f2749;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 40vw;
}

main,
aside {
  background-color: #27346a;
  width: 75vw;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.blocoForm {
  padding-top: 10px;
}

img {
  max-width: 100%;
}

.titulo {
  font-size: 17px;
  font-weight: bold;
  color: #f48523;
  padding-top: 8px;
}

.texto,
label {
  color: whitesmoke;
  padding-top: 8px;
}

label {
  font-weight: bold;
  width: 100px;
}

legend,
.textoDesc {
  font-weight: bold;
  color: #f48523;
  margin-bottom: 10px;
}

#infoSeg {
  font-weight: bold;
  color: rgb(11, 148, 45);
  text-align: center;
  padding: 20px;
}

button {
  width: 100%;
  max-width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: rgb(11, 148, 45);
  color: whitesmoke;
  border: 1px solid rgb(11, 148, 45);
  border-radius: 5px;
}

input,
select {
  height: 25px;
  margin: 5px;
  background-color: rgb(75, 75, 75);
  border: 0.5px solid rgb(104, 103, 103);
  border-radius: 5px;
  flex-grow: 1;
}

fieldset {
  border: 1px solid rgb(104, 103, 103);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.linhaForm {
  display: flex;
  align-items: center;
  gap: 0.5px;
}

hr {
  margin: 8px;
  border: 0.5px solid rgb(104, 103, 103);
}

footer {
  margin: 15px;
}

footer > a {
  text-decoration: none;
  color: #f48523;
}

#btnAplicar {
  max-width: 20%;
  background-color: #f48523;
  border: 1px solid #f48523;
}

#textDesc {
  width: 80%;
  margin: 0px;
}

.cupom {
  display: none;
}

#campoCupom {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#campoCupom > span {
  color: #f48523;
  font-size: 20px;
  font-weight: bold;
}

#campoDesc {
  color: #f48523;
  font-weight: bold;
  padding-top: 10px;
}
