@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 30px;
  padding-bottom: 40px;
  padding: 20px;
  text-align: center;
}

#bloco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 20px;
  border: 1px solid #f5f5f5;
  background-color: white;
  border-radius: 10px;
}

.campoObr {
  padding: 10px;
}

label {
  color: rgba(78, 77, 77, 0.87);
}

input {
  width: 350px;
  height: 28px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.459);
}

button {
  width: 380px;
  height: 35px;
  background-color: rgb(36, 114, 36);
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.obr {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

.resultado-abaixo {
  background-color: yellow;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
}

.resultado-normal {
  background-color: green;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
}

.resultado-sobrepeso {
  background-color: orange;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
}

.resultado-obesidade {
  background-color: red;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
}
