@charset "UTF8";

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(95, 65, 119);
}

h1 {
  color: white;
  margin: 50px;
  text-align: center;
  font-size: 40px;
}

section {
  background-color: white;
  width: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(41, 41, 41, 0.836);
  margin: auto;
  margin-top: 50px;
}

div {
  padding: 10px;
}

select {
  width: 150px;
  height: 180px;
}

footer {
  color: white;
  margin: 50px;
  text-align: center;
}
